.title{
  font-size: 48px;
  color: #fff;
}

.left{
  text-align: left !important;
}

.center{
  text-align: center !important;
}

.right{
  text-align: right !important;
}

.callout{
  width: fit-content;
  padding: 0 .5rem;
  font-weight: 400;
}

.orange{
  background-color: #FF965B;
  color: #fff;
}