@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;

}

.main-page-container {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;

  background: #f4f4f4;

  //First Page
  .main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url("../../../../public/images/logo/Grid.svg"),
      linear-gradient(109deg, #053e56 0%, #02131b 94.1%);

    width: 100vw;
    height: 100vh;

    .main-storm-image {
      animation: bounce infinite;
    }
  }
}
